<div>
	<div>
		<h4>Input with validation and output event</h4>
		<intl-input-phone [ConfigurationOption]="configOption1" (OnIsRequiredChange)="requiredFlagChange($event)" (OnNumberChange)="onNumberChage($event)"></intl-input-phone>
		<pre>
      Is Required : {{IsRequired}}

      Output Value Number : {{OutputValue.Number}}
      Output Value Country : {{OutputValue.CountryModel}}
      please see the console for detailed information.
    </pre>
	</div>

	<div>
		<h4>Input with another output format</h4>
		<intl-input-phone [ConfigurationOption]="configOption4" (OnNumberChange)="onNumberChage2($event)"></intl-input-phone>
		<pre>
      Output Value Number : {{OutputValue2.Number}}
    </pre>
	</div>

	<div>
		<h4>Input with prefilled by number</h4>
		<intl-input-phone [ConfigurationOption]="configOption2" [NumberTextValue]="NumberModel"></intl-input-phone>
	</div>

	
	<div>
		<h4>Input with prefilled by number and selected country ISO code</h4>
		<intl-input-phone [ConfigurationOption]="configOption3" [NumberTextValue]="NumberModel2" [SelectedCountryISOCode]="SelectedCountryISOCode"></intl-input-phone>
	</div>

  <div>
		<h4>Input with prefilled by number after rendered</h4>
		<intl-input-phone [ConfigurationOption]="configOption5" [NumberTextValue]="NumberModel3"></intl-input-phone>
	</div>
</div>