<div>
	<div>
    <h4>Selected country list</h4>
      <intl-input-phone [ConfigurationOption]="configOption1" [CountryList]="customCountryList1" ></intl-input-phone>
	</div>
	<div>
    <h4>Change the value in existing country list e.g. - country name, flag, country phone code, input masking</h4>
      <intl-input-phone  [ConfigurationOption]="configOption2" [CountryList]="customCountryList2"></intl-input-phone>
	</div>
	<div>
    <h4>Add new country in dropdown.</h4>
      <intl-input-phone  [ConfigurationOption]="configOption3" [CountryList]="customCountryList3"></intl-input-phone>
	</div>
</div>