<div class="head">
	<h1>{{name}}</h1>
	<div>
		<app-basic></app-basic>
	</div>

</div>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#multiple-options">
					Customization dropdown options
				</a>
			</h4>
		</div>
		<div id="multiple-options" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#multiple-options'}">
			<div class="panel-body">
				<app-with-multiple-options></app-with-multiple-options>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#CustomizationTooltip" >
          Customization tooltip
				</a>
			</h4>
		</div>
		<div id="CustomizationTooltip" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#CustomizationTooltip'}">
			<div class="panel-body">
        
		<app-customized-tooltip></app-customized-tooltip>
      </div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#customizedOrdering">
          Customization option ordering
				</a>
			</h4>
		</div>
		<div id="customizedOrdering" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#customizedOrdering'}">
			<div class="panel-body">
        <app-customized-ordering></app-customized-ordering>
      </div>
		</div>
	</div>
  	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#CustomizationSearching">
          Customization searching
				</a>
			</h4>
		</div>
		<div id="CustomizationSearching" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#CustomizationSearching'}">
			<div class="panel-body">
        	<app-customized-searching></app-customized-searching>
      </div>
		</div>
	</div>
    	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#SampleInputValidation">
          Sample for input with validation & set the value from model
				</a>
			</h4>
		</div>
		<div id="SampleInputValidation" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#SampleInputValidation'}">
			<div class="panel-body">        
		    <app-integrate-validation></app-integrate-validation>
      </div>
		</div>
	</div>
  	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#CustomizationCountryList">
          Customization country list
				</a>
			</h4>
		</div>
		<div id="CustomizationCountryList" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#CustomizationCountryList'}">
			<div class="panel-body">
        <app-customized-country-list></app-customized-country-list>
      </div>
		</div>
	</div>
  	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#CustomizationReactiveForm">
          Customization Reactive Form
				</a>
			</h4>
		</div>
		<div id="CustomizationReactiveForm" class="panel-collapse collapse" [ngClass]="{'in' : activeTab == '#CustomizationReactiveForm'}">
			<div class="panel-body">
        <app-customized-reactive-form></app-customized-reactive-form>
      </div>
		</div>
	</div>
</div>
