<div>
	<div>
		<h4>Tooltip as "Country Name" (Default)</h4>
		<intl-input-phone [ConfigurationOption]="configOption1"></intl-input-phone>
	</div>
	<div>
		<h4>Tooltip as "Country ISO Code"</h4>
		<intl-input-phone [ConfigurationOption]="configOption2"></intl-input-phone>
	</div>
	<div>
		<h4>Tooltip as "Country Phone Code"</h4>
		<intl-input-phone [ConfigurationOption]="configOption3"></intl-input-phone>
	</div>
	<div>
		<h4>Without Tooltip</h4>
		<intl-input-phone [ConfigurationOption]="configOption4"></intl-input-phone>
	</div>
</div>